<ion-view>
    <ion-nav-bar class="bar-stable">
        <ion-nav-title>Cadastrar</ion-nav-title>
        <ion-nav-back-button>Voltar</ion-nav-back-button>  
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-nav-bar>

    <ion-content class="has-header">
        <label class="item item-input">
                <input type="text" ng-model="data.nome" placeholder="Digite o seu nome">
        </label>
        <label class="item item-input">
            <input type="text" ng-model="data.sobrenome" placeholder="Digite o seu sobrenome">
        </label>
        <div class="row">
            <button class="button button-block button-positive" ng-click="inserir()">Salvar</button>
        </div>
    </ion-content>
</ion-view>