<ion-view>
    <ion-nav-bar class="bar-stable">
        <ion-nav-title>Detalhar</ion-nav-title>
        <ion-nav-back-button>Voltar</ion-nav-back-button>  
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-nav-bar>
    <ion-content>
        <label class="item item-input">
            <input type="text" ng-model="pessoa.nome" value="{{pessoa.nome}}" placeholder="Digite o seu nome">
        </label>
        <label class="item item-input">
            <input type="text" ng-model="pessoa.sobrenome" value="{{pessoa.sobrenome}}" placeholder="Digite o seu sobrenome">
        </label>        
        <div class="row">
            <div class="col-50">
                <button class="button button-block button-positive" ng-click="atualizar()" ui-sref="menu.pesquisar">Atualizar</button>
            </div>
            <div class="col-50">
                <button class="button button-block button-positive" ng-click="excluir()" ui-sref="menu.pesquisar">Excluir</button>
            </div>    
        </div>
    </ion-content>
</ion-view>